
@* Presenta los datos al usuario en un formato legible*@
@{
    ViewBag.Title = "Búsqueda de Imágenes";
}

<div class="search-container">
    <input type="text" id="search-box" class="search-box" placeholder="Buscar imágenes..." />
    <button id="search-button">Buscar</button>
</div>

<div class="search-results"></div>

